header {
  height: 65px;
  width: 100%;
  background-color: rgba(26, 26, 26, 0.3);
  color: var(--texto-claro);
  position: fixed;
  top: 1;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  backdrop-filter: blur(10px);
  & a {
    color: var(--texto-claro);
    text-decoration: none;
    &:hover {
      color: var(--verde-claro-hover);
    }
  }
  & ul {
    list-style: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

.logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logo > * {
  cursor: pointer;
}

nav {
  display: flex;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links button {
  background-color: var(--verde-claro);
  color: var(--texto-claro);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    background-color: var(--verde-claro-hover);
  }
}

.burguer {
  display: none;
}

@media screen and (max-width: 768px) {
    header {
      padding: 0 20px;
    }
    .nav-links {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      background-color: rgba(26, 26, 26, 0.9);
      padding: 60px 20px 20px;
      transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
      transform: translateX(100%);
      opacity: 0;
    }
    .burguer {
      display: inline-block;
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: relative;
      z-index: 1000;
    }
    .burguer div {
      width: 100%;
      height: 3px;
      background-color: var(--texto-claro);
      margin: 6px 0;
      transition: 0.4s;
      border-radius: 100px;
    }
  
    .nav-links.active {
      transform: translateX(0);
      opacity: 1;
    }
  
    .nav-links.active ~ .burguer div:nth-child(1) {
      transform: rotate(-45deg) translate(-7px, 7px);
    }
  
    .nav-links.active ~ .burguer div:nth-child(2) {
      opacity: 0;
    }
  
    .nav-links.active ~ .burguer div:nth-child(3) {
      transform: rotate(45deg) translate(-7px, -6px);
    }
  }
  
